<!-- templates/base.html -->
{% load static %}

<html>
<head>
    <title>Simple Blog App</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>

<body>
  <div class="main-container">
    <div class="navbar">
      <a href="{% url 'BlogApp:home' %}">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Category 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{% url 'BlogApp:sports' %}">Sports</a>
          <a href="{% url 'BlogApp:news' %}">News</a>
          <a href="{% url 'BlogApp:music' %}">Music</a>
        </div>
      </div>
      <a href="{% url 'BlogApp:aboutus' %}">About</a>
      <div class="user-field">
        <a href="#">Sign In</a>
        <a href="#">Register</a>
      </div>
    </div>
  </div>


<div class="post-posts">
  {% block content %}
  {% endblock content %}
</div>




</body>

<div class="footer">
  <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Tech Gadgets Byte</p>
</div>

</div>
</html>