<!-- templates/home.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% for post in object_list %}
        <div class="post-entry">
            <a href="{% url 'BlogApp:post_detail' post.slug %}"><h3>{{ post.title }}</h3></a>
            <img src="{{ post.img.url}}" alt="{{ post.title }}" width="150" height="200">
            <p>{{ post.body }}</p>
            <small><p>{{ post.category }} | {{ post.pub_date }} | {{ post.author }}</p></small>
            <a href="{% url 'BlogApp:post_detail' post.slug %}">Add comment</a><br><br><br>
        </div>
    {% endfor %}
    
{% endblock content %}