{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if music_posts %} 
        <ul> 
            {% for post in music_posts %}<br>
                <a href="{% url 'BlogApp:post_detail' post.slug %}"><h2>{{ post.title }}</h2></a>
                <img src ="{{ post.img.url}}" width="200" height="250">
                <p class="ellipsis">{{ post.body }}</p>
                <small><p>{{ post.category }} | {{ post.pub_date }} | {{ post.author }}
                <a href="{% url 'BlogApp:post_detail' post.slug %}">Add comment</a></p></small>
            {% endfor %}
            <br>
        </ul>
    {% else %}
        <p>No blogs are available.</p>
    {% endif %}
{% endblock content %}