/* static/base.css */

body {margin-left:0;}


.active {
  background-color: #04AA6D;
}


.main-container{
  padding-top: 0px ;
  margin-top:  0px; 
}


.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}



.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.post-entry{
  margin-left: 25px;
}

.media-content{
  margin-left: 10px;
}

.subtitle{
  margin-left: 5px;
}

.footer {
  padding-bottom: 0.5%;
  padding-top: 0%;
  position: fixed;
  bottom: 0;
  height: 4%;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}